.grid-container-characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1.25%;
  row-gap: 2vh;
  padding: 2%;
}
.grid-list-characters {
  position: relative;
  overflow: hidden;
  border-radius: 13px;
}

.archive-card--background {
  height: 100%;
  opacity: 75%;
}
.archive-card--overlay {
  position: absolute;
  background-color: rgba(27, 24, 32, 0.775);
  inset: 0px;
  width: 90%;
  height: 90%;
  margin: calc(5% * 10 / 21) 5%;
  border-radius: 13px;
  display: grid;
  grid-template-columns: repeat(42, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
.archive-card--char-icon {
  grid-column: 6 / 19;
  grid-row: 2 / 15;
  border-radius: 50%;
}
.archive-card--char-name {
  grid-column: 5/39;
  grid-row: 16/20;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: rgba(240, 248, 255, 0.97);
  overflow: hidden;
}
.archive-card--char-rarity {
  grid-column: 24 / 37;
  grid-row: 11 / 15;
  display: flex;
  justify-content: center;
  align-items: center;
}
.archive-card--char-rarity-level-star {
  height: 65%;
}
.archive-card--char-ElementnWeapon {
  grid-column: 24 / 37;
  grid-row: 2 / 11;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
