.header {
  height: 7vh;
  min-height: 40px;
  background: -webkit-linear-gradient(45deg, #171433, #23052b);
  background: linear-gradient(45deg, #171433, #23052b);
}
.headblock {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1/1;
  vertical-align: top;
}
.headtextmain {
  color: aliceblue;
  font-size: max(3.5vh, 20px);
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}
.headimgmain {
  height: 84%;
  padding: 8%;
  margin: 0;
}
.headtext {
  color: aliceblue;
  font-size: max(2.9vh, 17px);
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}
.headimg {
  height: 68%;
  padding: 16%;
  margin: 0;
}
.hovheadblock {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-right: 8px;
  position: relative;
  color: #333;
  text-decoration: none;
  display: inline-block;
  background: #f8f9fa00;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease;
  height: calc(max(7vh, 40px) - 4px);
}

.hovheadblock::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #26265a, #4a3e65);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hovheadblock:hover {
  color: white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.hovheadblock:hover::before {
  opacity: 1;
}
.hovheadblockmin {
  height: calc(max(7vh, 40px) - 10px);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 12px;
}
.sitebackground {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: brightness(70%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  background: radial-gradient(
      at 2.2080738202342576% 73.82349857450092%,
      hsla(205.0909090909091, 47.008547008547005%, 22.941176470588236%, 1) 0%,
      hsla(205.0909090909091, 47.008547008547005%, 22.941176470588236%, 0) 100%
    ),
    radial-gradient(
      at 28.48236187839406% 87.00231020380245%,
      hsla(334, 78.94736842105267%, 85.09803921568627%, 1) 0%,
      hsla(334, 78.94736842105267%, 85.09803921568627%, 0) 100%
    ),
    radial-gradient(
      at 40.96327271502772% 68.50961948602871%,
      hsla(205.0909090909091, 47.008547008547005%, 22.941176470588236%, 1) 0%,
      hsla(205.0909090909091, 47.008547008547005%, 22.941176470588236%, 0) 100%
    ),
    radial-gradient(
      at 37.17987196555433% 33.38393086633589%,
      hsla(205.5, 40%, 39.21568627450981%, 1) 0%,
      hsla(205.5, 40%, 39.21568627450981%, 0) 100%
    ),
    radial-gradient(
      at 66.33314929488338% 32.27611704927639%,
      hsla(205.5, 40%, 39.21568627450981%, 1) 0%,
      hsla(205.5, 40%, 39.21568627450981%, 0) 100%
    ),
    radial-gradient(
      at 95.92692559531226% 21.90829314731525%,
      hsla(334, 78.94736842105267%, 85.09803921568627%, 1) 0%,
      hsla(334, 78.94736842105267%, 85.09803921568627%, 0) 100%
    );
}
.mainconteiner {
  width: 80%;
  height: auto;
  background: #1b1820;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border-radius: 20px;
}
.rightheaderelement {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  color: #333;
  text-decoration: none;
  display: inline-block;
  background: #f8f9fa00;
  border-radius: 25px;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease;
  height: calc(max(7vh, 40px) - 10px);
}

.rightheaderelement::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(1deg, #61616160, #3b3b3b60);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.rightheaderelement:hover {
  color: white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.rightheaderelement:hover::before {
  opacity: 1;
}
.headlangchangeimg {
  height: 40%;
  aspect-ratio: 1/1;
  padding-top: calc((max(7vh, 40px) - 10px) * 0.3);
  padding-bottom: calc((max(7vh, 40px) - 10px) * 0.3);
  margin-left: -50%;
}
.headlangchangetext {
  justify-content: center;
  align-items: center;
}
.headanchorleft {
  display: inline-block;
  height: 100%;
}
.headanchorright {
  height: 100%;
  float: right;
}
.continarchive {
  display: inline-block;
  color: aliceblue;
  font-size: max(3.5vh, 20px);
  flex: 1;
  text-align: center;
  padding: 20px;
}
.hovheadblock2 {
  position: relative;
  color: #333;
  text-decoration: none;
  display: inline-block;
  background: #f8f9fa00;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease;
}

.hovheadblock2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #26265a60, #4a3e6560);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hovheadblock2:hover {
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.hovheadblock2:hover::before {
  opacity: 1;
}
