.archive-subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  background-color: #1e202f;
}
.archive-subHeader__link {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 20px;
  font-size: max(3.5vh, 20px);
  color: aliceblue;
  text-decoration: none;
  background: #f8f9fa00;
  flex: 1;
  z-index: 1;
  overflow: hidden;
  transition: color 0.5s ease;
}
.archive-subHeader__link::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #26265a60, #4a3e6560);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.archive-subHeader__link:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  color: white;
  transition: box-shadow 0.5s ease;
}

.archive-subHeader__link:hover::before {
  opacity: 1;
}
.archive-subHeader__link.first-link {
  border-radius: 20px 0 0 20px;
}

.archive-subHeader__link.last-link {
  border-radius: 0 20px 20px 0;
}
