/* reset.css */

/* Убираем все отступы и границы */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
/* Наследуем шрифты */
html,
body {
  height: 100%;
  font-size: 100%;
  font-family: inherit;
  line-height: 1.5;
}
/* Убираем оформление списков */
ul,
ol {
  list-style: none;
}
/* Ссылки без подчеркивания */
a {
  text-decoration: none;
  color: inherit;
}
/* Изображения и медиа */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}
/* Таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Формы */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}
/* Кнопки */
button {
  cursor: pointer;
  background: transparent;
}
/* Заголовки не жирные по умолчанию */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.site-background-dark {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: brightness(70%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  background: radial-gradient(
      at 2.2080738202342576% 73.82349857450092%,
      hsla(205.0909090909091, 47.008547008547005%, 22.941176470588236%, 1) 0%,
      hsla(205.0909090909091, 47.008547008547005%, 22.941176470588236%, 0) 100%
    ),
    radial-gradient(
      at 28.48236187839406% 87.00231020380245%,
      hsla(334, 78.94736842105267%, 85.09803921568627%, 1) 0%,
      hsla(334, 78.94736842105267%, 85.09803921568627%, 0) 100%
    ),
    radial-gradient(
      at 40.96327271502772% 68.50961948602871%,
      hsla(205.0909090909091, 47.008547008547005%, 22.941176470588236%, 1) 0%,
      hsla(205.0909090909091, 47.008547008547005%, 22.941176470588236%, 0) 100%
    ),
    radial-gradient(
      at 37.17987196555433% 33.38393086633589%,
      hsla(205.5, 40%, 39.21568627450981%, 1) 0%,
      hsla(205.5, 40%, 39.21568627450981%, 0) 100%
    ),
    radial-gradient(
      at 66.33314929488338% 32.27611704927639%,
      hsla(205.5, 40%, 39.21568627450981%, 1) 0%,
      hsla(205.5, 40%, 39.21568627450981%, 0) 100%
    ),
    radial-gradient(
      at 95.92692559531226% 21.90829314731525%,
      hsla(334, 78.94736842105267%, 85.09803921568627%, 1) 0%,
      hsla(334, 78.94736842105267%, 85.09803921568627%, 0) 100%
    );
}

.main {
  width: 80%;
  height: auto;
  background: #1b1820;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border-radius: 20px;
}
