/* Базовые стили для выпадающего меню */
:root {
  --header-height: min(max(60px, 6.5vh), 70px);
}
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  font-size: calc(0.5 * var(--header-height));
  height: var(--header-height);
  margin-right: 0.35vw;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  position: relative;
  color: aliceblue;
  background: #f8f9fa00;
  border-radius: 25px;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease;
  height: calc(var(--header-height) - 18%);
}
.dropdown-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(1deg, #61616160, #3b3b3b60);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.dropdown-toggle:hover {
  color: white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
}
.dropdown-toggle:hover::before {
  opacity: 1;
}

.dropdown-menu {
  position: absolute;
  margin-top: 0.35vw;
  top: 100%;
  width: 175%;
  right: 0;
  background: -webkit-linear-gradient(
    90deg,
    #1f1f1f,
    #010029,
    #030038
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #1f1f1f,
    #010029,
    #030038
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
}

.dropdown-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  color: aliceblue;
  font-size: x-large;
  height: calc(0.85 * var(--header-height));
}

.dropdown-item:last-child {
  border-bottom: none;
}
.header__nav__lang--img {
  aspect-ratio: 1/1;
  height: calc(0.4 * var(--header-height));
  padding-right: 0.4vw;
}
.header__nav__lang--text {
  padding: 0 0.35vw 0 0.625vw;
}
.dropmenu--list {
  margin: 0 1vw 0 0.3vw;
  padding: 0.2vw 0.3vw 0.2vw 0.3vw;
}
.dropmenu--list:hover {
  color: rgb(208, 208, 208);
  cursor: pointer;
}
