:root {
  --header-height: min(max(55px, 6.5vh), 70px);
}
.Header__nav-img--main {
  height: calc(0.785 * var(--header-height));
  padding: 0 0.4vw 0 0.3vw;
}
.Header__nav-text--main {
  font-size: calc(0.48 * var(--header-height));
}
.Header__nav-img {
  height: calc(0.6 * var(--header-height));
  padding: 0 0.35vw 0 0.3vw;
}
.Header__nav-text {
  font-size: calc(0.42 * var(--header-height));
}

header {
  height: var(--header-height);
  background: linear-gradient(45deg, #171433, #23052b);
}
nav {
  height: var(--header-height);
}
li {
  height: var(--header-height);
  display: flex;
  align-items: center;
}
ul {
  height: var(--header-height);
  width: 100%;
  display: flex;
}
li > * {
  display: inline-block;
}
p {
  color: aliceblue;
}
a {
  display: flex;
  align-items: center;

  /* z-index: -1;
}
a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #26265a, #4a3e65);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}
a:hover {
  color: white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
a:hover::before {
  opacity: 1; */
}
