/* === button for change language === */

.header__button--change-lang {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: calc(0.8 * var(--header-height));
  margin: calc(0.1 * var(--header-height)) 0;
  margin-right: 0.35vw;
  border-radius: calc(0.4 * var(--header-height));
  color: aliceblue;
  background: #f8f9fa00;
  transition: color 0.5s ease;
}
.header__button--change-lang::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(1deg, #61616160, #3b3b3b60);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.header__button--change-lang:hover {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  color: white;
}
.header__button--change-lang:hover::before {
  opacity: 1;
}

/* img & text in button */

.header__nav__lang--img {
  height: calc(0.15 * var(--header-height));
  padding-top: calc(0.075 * var(--header-height));
  margin-right: 0.4vw;
  padding-bottom: calc(0.15 * var(--header-height));
  transition: transform 0.3s ease-in-out;
}
.header__nav__lang--text {
  font-size: calc(0.35 * var(--header-height));
  padding: 0 0.35vw 0 0.625vw;
}

/* Dropdown-menu for change language */

.header__lang-menu {
  position: absolute;
  overflow: hidden;
  z-index: 1000;
  width: 150px;
  margin: 0.35vw 0.35vw 0 0;
  top: 100%;
  right: 0;
  border-radius: 7.5%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(
    90deg,
    #1f1f1f,
    #010029,
    #030038
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #1f1f1f,
    #010029,
    #030038
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
}
.header__lang-menu.open {
  transform: scaleY(1);
}

/* list item in dropdown-menu & selected item*/

.header__lang-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(0.85 * var(--header-height));
  border-bottom: 1px solid #f0f0f0;
  color: aliceblue;
}
.header__lang-menu-item:last-child {
  border-bottom: none;
}

.header__lang-menu-item--selected {
  background-color: #041dff25; /* Подсветка выбранного элемента */
}

/* paragraphs in dropdown-menu list */

.header__lang-menu-paragraph {
  font-size: calc(0.32 * var(--header-height));
  padding: calc(0.085 * var(--header-height)) calc(0.4 * var(--header-height))
    calc(0.085 * var(--header-height)) calc(0.2 * var(--header-height));
}
.header__lang-menu-paragraph:hover {
  cursor: pointer;
  color: rgb(208, 208, 208);
}

/* icon for selected item in list*/

.header__lang-menu-icon--selected {
  height: 20px;
  margin-right: calc(0.2 * var(--header-height));
}
