/* Базовые стили для выпадающего меню */
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  font-size: calc(0.5 * var(--header-height));
  height: var(--header-height);
  margin-right: 0.35vw;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  position: relative;
  color: aliceblue;
  background: #f8f9fa00;
  border-radius: 25px;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease;
  height: calc(var(--header-height) - 18%);
}
.dropdown-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(1deg, #61616160, #3b3b3b60);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.dropdown-toggle:hover {
  color: white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
}
.dropdown-toggle:hover::before {
  opacity: 1;
}

.dropdown-menu {
  position: absolute;
  margin-top: 0.35vw;
  top: 100%;
  width: 150px;
  min-width: max-content; /* чтобы не сжималось меньше текста */
  right: 0;
  border-radius: 7.5%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
  background: -webkit-linear-gradient(
    90deg,
    #1f1f1f,
    #010029,
    #030038
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #1f1f1f,
    #010029,
    #030038
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.dropdown-menu.open {
  transform: scaleY(1);
}

.dropdown-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  color: aliceblue;
  font-size: x-large;
  height: calc(0.85 * var(--header-height));
}

.dropdown-item:last-child {
  border-bottom: none;
}
.header__nav__lang--img {
  height: calc(0.15 * var(--header-height));
  padding-bottom: calc(0.15 * var(--header-height));
  padding-top: calc(0.075 * var(--header-height));
  margin-right: 0.4vw;
  transition: transform 0.3s ease-in-out;
}
.header__nav__lang--text {
  padding: 0 0.35vw 0 0.625vw;
  font-size: calc(0.35 * var(--header-height));
}
.dropmenu--list {
  padding: 0.35vw 1vw 0.35vw 0.5vw;
  padding: calc(0.085 * var(--header-height)) calc(0.4 * var(--header-height))
    calc(0.085 * var(--header-height)) calc(0.2 * var(--header-height));
  font-size: calc(0.32 * var(--header-height));
}
.dropmenu--list:hover {
  color: rgb(208, 208, 208);
  cursor: pointer;
}

/* DropdownMenu.css */

.dropdown-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-right: 15px;
}

.dropdown-check-icon {
  height: 20px;
}

.dropdown-item--selected {
  background-color: #041dff25; /* Подсветка выбранного элемента */
}
